<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/uikit.min.css' />
</head>

<body>
    <nav class="uk-navbar-container" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">
                        <%= title %>
                    </a>
                    <p class="uk-text-lead uk-text-bold uk-text-capitalize uk-text-right uk-text-default ">Amount of
                        things added to cart
                        <span id="display">0</span>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <!-- <div class="uk-card-default uk-card-body uk-text-center uk-text-bold " uk-sticky="position: bottom">
        <p> </p>
    </div> -->

    <div class="uk-padding-large">
        <div class="uk-text-center uk-grid-match uk-margin-xlarge" uk-grid>
            <% for(computer of foo) {%>
                <div class="uk-width-1-4@s">
                    <div class="uk-position-relative" uk-slideshow="animation: fade">
                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="<%=computer.img %>" uk-cover>
                            </li>
                            <li>
                                <img src="<%=computer.img2 %>" uk-cover>
                            </li>
                            <li>
                                <img src="<%=computer.img3 %>" uk-cover>
                            </li>
                        </ul>
                        <div class="uk-position-bottom-center uk-position-small uk-grid uk-width-1-4@s">
                            <ul class="uk-thumbnav">
                                <li uk-slideshow-item="0"><a><img src="<%=computer.img %>" width="100" height="67"></a>
                                <li uk-slideshow-item="1"><a><img src="<%=computer.img2 %>" width="100" height="67"></a>
                                <li uk-slideshow-item="2"><a><img src="<%=computer.img3 %>" width="100" height="67"></a>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-4@s">
                    <div class="uk-card uk-card-default uk-text-left uk-text-bold uk-text-large uk-padding-small ">
                        <div class="uk-text-emphasis uk-text-default uk-heading-divider">
                            <h3 class="uk-text-bold uk-card-header">
                                <p>
                                    <%= computer.name %>
                                </p>
                            </h3>
                            <p class="uk-text-normal">
                                <%= computer.description %>
                            </p>
                            <p class="uk-text-bold">
                                <%= computer.price %>
                            </p>
                        </div>
                        <button class="uk-button uk-button-default"
                            onclick="popUp(); UIkit.notification({message:'Added to cart', timeout: 1500})">Buy</button>
                    </div>
                </div>
                <%}%>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/uikit.min.js"></script>
</body>

</html>